{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <h3>List owner: <span id="id_list_owner">{{ list.owner.email }}</span></h3>
	<table id="id_list_table" class="table">
		{% for item in list.item_set.all %}
		    <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
{% endblock %}

{% block extra_content %}
    <form method="POST" action="{% url 'share_list' list.id %}">
        {% csrf_token %}
        <input type="text" name="sharee" placeholder="your-friend@example.com">
    </form>

    <ul class="list-sharee">
        {% for user in list.shared_with.all %}
            <li>{{ user.email }}</li>
        {% endfor %}

    </ul>
{% endblock %}
